# Control Structures and Data Frames

## PETE 2061 Lab 4 Workbook 

## THIS IS DUE BY 11:59 PM ON SUNDAY (Sept 22, 2019)

<a id='top'></a>

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

2. It is commonly said that one human year is equivalent to 7 dog years. However, this simple conversion fails to recognize that dogs reach adulthood in approximately two years. As a result, some people believe that it is better to count each of the first two human years as 10.5 dog years, and then count each additional human year as 4 dog
years. <br>
Write a program that implements the conversion from human years to dog years described in the previous paragraph. Ensure that your program works correctly for conversions of less than two human years and for conversions of two or more human years. Your program should generate a random number between 0 and 10. <br>
Hints: <br>
a. Remember that you can generate a random number between 0 and 1 using the function numpy.random.random(1)<br>
b. You can scale this random number to go from 0 to 10 by multiplying it by 10<br>
c. At this point what you have is a random floating-point number that goes from 0 to 10. You need to convert this floating-point number to an integer using the int() function.

In [16]:
import math as math
import numpy as np
import pandas as pd
import random as random
Human_age=(int(np.random.random(1)*10))

if (Human_age<=2) :
    dog_age=Human_age*10.5
else :
    dog_age=21+(Human_age-2)*4
print(dog_age)

37

3. For Students A through J, generate 10 different random numbers between 0 and 100. Create a dataframe to store the student names in the first column (called "Name"), and store the scores in the second column called "Score".
   Print out the mean, standard deviation and maximum of the scores, as well as the index of the student with this maximum score.

In [11]:
scores=np.random.random(10)*100
print(scores)
Names= 'A B C D E F G H I J'. split()
df= pd.DataFrame({'Name':Names, 'Score':scores})
df

[80.06970631 13.93118012 13.2496666  20.24627855 68.30198701 94.82461994
  6.38681823 79.6823572  42.78802979 75.92013962]

  Name      Score
0    A  80.069706
1    B  13.931180
2    C  13.249667
3    D  20.246279
4    E  68.301987
5    F  94.824620
6    G   6.386818
7    H  79.682357
8    I  42.788030
9    J  75.920140

In [12]:
print(np.argmax(df['Score'].values))
df.describe()

5

           Score
count  10.000000
mean   49.540078
std    33.813426
min     6.386818
25%    15.509955
50%    55.545008
75%    78.741803
max    94.824620

4. Write a program that begins by reading a score in percentage (%) from the user. Then your program should compute and display the equivalent letter grade. Ensure that your program generates an appropriate error message if the user enters an invalid score.
Use the grading scale on your syllabus. These scores are typed in below.

In [25]:
letterGrade = ['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-']
scores = [97,93,90,87,83,80,77,73,70,67,63,60]
# A score of less than 60 gets a letter grade of F
try :
    grade = int(float( input("Please input a grade: ")))
    gs =""
    if ( grade < 60 ):
        gs = "F"
    elif ( grade >= 100 ):
        gs = "A+"
    else:
        if ( grade >= 90 ):
            gs = "A"
        elif ( grade >= 80 ):
            gs = "B"
        elif ( grade >= 70 ) :
            gs = "C"
        else :
            gs ="D"
        if ( grade %10 >= 7 ):
            gs = gs + "+"
        if ( grade%10 <= 3 ):
            gs = gs + "-"
    print(gs)
except:
    print("Grade was not entered correctly")

Please input a grade: 94
A

5. Write a program that generates 10 random integers, and then prints the largest odd number that was entered. If no odd number was entered it should print a message to that effect. <br>
Hints: <br>
    a. Use pseudo-code. <br>
    b. Generate a random number using the code below:<br>
    myRandInt = np.random.randint(low=1, high=20, size=10)<br>
    c. Initialize an empty list to contain the odd numbers. Name this list oddInt <br>
    d. Within your for loop, you can append odd numbers to this empty list using the append function. eg: <br>
    oddInt.append("The current odd number from the list should be put in here!")

In [26]:
import numpy as np
myRandInt = np.random.randint(low =1,high =20, size =10)
oddint = []
largestOdd = -1
for i in myRandInt:
    if(i%2 ==1):
        oddint.append(i)

for i in oddint:
    if (i > largestOdd):
        largestOdd = i

if (largestOdd == -1):
    print("No odd number was found")
else:
    print(largestOdd)

17